body {
  margin: 0;
  padding: 0;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-color: #c9b07e;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");

  font-family: Questrial, "Montserrat", "Open Sans","Fira Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
    height: 100%;
}


@font-face {
font-family: PWPerspective;
src: url('./fonts/PWPerspective.woff');
}

@font-face {
  font-family: Bourbon;
  src: url('./fonts/BourbonGrotesque-Regular.woff');
}
/*ohter font ideas ActionJackson, LoveYaLikeASister, SketchMatch*/


p {
  letter-spacing: .1em;
  line-height: 1.3em;
}


h3, legend {
    font-family: PwPerspective;
    font-size: 200%;
    font-weight: bold;
    font-weight: light;
    margin-top: 15px;
    margin-bottom: 5px;
}


h4, label {
    margin: 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: Bourbon;
    font-weight: lighter;
}

input, textarea {
    font-family: Questrial;
    padding: 25px;
    width: 70vw;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    border: none;
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  border-top: 4px dashed hsl(39, 84%, 36%);
  width: 50vw;
}



/* COMPONENT CONTAINER */
.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* BUTTONS */
button {
  color: white;
  background: rgba(61, 192, 0, 0.5);;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(61, 192, 0, 0.5);;
  position: relative;
  margin: .5em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  letter-spacing: .1em;
  text-shadow: 0px 0px 18px #000000;
  text-transform: uppercase;
  font-family: Bourbon; 
  cursor: pointer;
}
button:before, button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: rgba(61, 192, 0, 0.5);;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out
}
button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
button:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
button:hover:before, button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: rgb(61, 192, 0);
}
button:hover {
  background-color: rgb(61, 192, 0);
  color: #fff;
  border-color: rgb(61, 192, 0);
}


.btn-newline {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#btn-remove-ingredient {
  font-family: Montserrat, sans-serif;
}

#btn-another-ingredient {
  font-size: 110%;
  font-weight: bolder;
}

/*shorten input so X remove button fits better*/
#add-ingredient-input {
  width: 50vw;
  margin-right: 10px;
}
